html{ /* Ceci est l'image visible sur toute les pages */
    background-image: url("Motorhead.jpg");
    background-size: cover;
    background-position: left 20px;
  }
  
  body {
    margin: 0%;
  }
  
  #bandeau { /* Ceci est le bandeau visible sur toute les pages */
    color:white ;
    font-size: 40px;
    text-align: center;
    widows: 2000px;
    height:7%;
    background-color:#444F;
  }
  
  #menu { /* Ceci est le menu visible sur toute les pages */
    color: white ;
    border: solid #444F 1px;
    width: auto;
    background-color: #444F ;
    padding: 1%;
    height: 100%;
  }
  .bouton a { /* Ceci sert a afficher les boutons visible sur toute les pages */
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    background:url(boutonnoir.png) no-repeat;
    color:white;
    text-decoration:none;
    }
    .bouton a:hover {
    background:url(boutonnoir2.png) no-repeat;
    }
    .bouton a:hover {
      background:url(boutonnoir2.png) no-repeat;
      }
      #texte { /* Ceci sert au texte sur toute les pages */
        display:block
        color: white;
        font-size: 20px;
        text-align: left;
        float: right;
        width: 60%;
        background-color: grey;
        opacity: 0.94;
        padding: 5%;
      }
  
      #texte ul{
        list-style: none;
      }
  
      #texte, #menu{
        display: inline-block;
      }
      #musique{ /* Ceci sert a la page musique pour afficher la vidéo et le lien soundcloud */
        style="font-size: 10px; 
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
        font-weight: 100;
        "><a href="https://soundcloud.com/motorhead-official" title="Motörhead" target="_blank" style="color: #cccccc;
         text-decoration: none;
         ">Motörhead</a> · <a href="https://soundcloud.com/motorhead-official/overkill-1" title="Overkill" target="_blank" style="color: #cccccc; text-decoration: none;"
      }
      #image { /* Ceci sert pour afficher les image sur la page Albumphoto */
        display:block
        color: white;
        font-size: 20px;
        text-align: center;
        float: right;
        width: 60%;
        background-color: grey;
        opacity: 100%;
        padding: 5%;
      }